#container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  grid-template-rows: auto;
}

.top{
  grid-column:1/4;
  background-image: url("Img/photo-1574987405618-290505bd933f .png");
  background-attachment:scroll;
  background-size: 109% 100%;
  background-repeat: no-repeat;
  grid-row: 1/4;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  opacity: 0.9;
  
}

.header, .display{
  grid-column: 1/3;
}

.header{
  display: grid;
  grid-template-columns: 2%, 98%;
  color:white;
  grid-template-rows: 50px 250px;
}

.logo{
  grid-column: 1/2;
  margin-left: 8%;
  margin-top: 15px;
}
.display{
  grid-column:1/2;
  color:white;
  padding-left: 8%;
  padding-bottom: 10%;
}


.nav{
  grid-column: 2/3;
}

ul, li{
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav>ul>li{
  float: left;
  width: 13%; 
  margin-left: 2%;
  margin-top: 20px;
}

.nav>ul>button{
  border: 0;
  border-radius: 4px;
  height: 30px;
  margin-top: 17px;
  margin-left: 2%;
}




.main{
  grid-column:1/4;
  background-color: black;
  color:white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2%;
}

.room{
 padding-left: 3%;
}



.room1{
  grid-column:1/2 ;
  background-color: rgb(48, 46, 46);
  margin:2%;
}
.room2{
  grid-column:2/3 ;
  background-color: rgb(48, 46, 46);
  margin:2%;
}


.room3{
  grid-column:1/2 ;
  background-color: rgb(48, 46, 46);
  margin:2%;
}


.room4{
  grid-column:2/3 ;
  background-color: rgb(48, 46, 46);
  margin:2%;
}

.room5{
  grid-column:1/2 ;
  background-color: rgb(48, 46, 46);
  margin:2%;
}

.room6{
  grid-column:2/3 ;
  background-color: rgb(48, 46, 46);
  margin:2%;
}
.p1{
  margin-left: 30%;
}
.p2{
  margin-left: 25%;
}
.room>button{
  margin-left: 40%;
  border: 0;
  border-radius: 4px;
  margin-bottom: 2%;
  width: 100px;
  height: 30px;
  
}

a{
  text-decoration: none;
  color:white
}
button{
  color: white;
  background-color: red;
}

.bottom{
background-color: rgb(48, 46, 46);
grid-column: 1/4;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
padding: 2% 2%  0 2%;
color:white;
}

.btm1{
 grid-column:1/3;
 padding:3%;
}

.btm2{
  grid-column:3/5;
  padding:3%;
}
.btm3{
  grid-column:5/7;
  padding:3%;
}
.footer{
  grid-column:1/7;
  margin: 1% 0 1% 40%;
}

.btm3>p>img{
  width:8%;
  margin-right: 5%;
}

span{
  font-size: x-large;
}