*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}

#container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  grid-template-rows: auto;
}

.top{
  grid-column:1/4;
  background-image: url('https://res.cloudinary.com/elijahwale/image/upload/v1591667999/photo-1574987405618-290505bd933f_1_nd62bh.jpg');
  background-attachment:scroll;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  grid-row: 1/4;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  opacity: 0.9;
  
}

.header, .display{
  grid-column: 1/3;
}

.header{
  display: grid;
  grid-template-columns: 2%, 98%;
  color:white;
  grid-template-rows: 50px 250px;
  position: relative;
  z-index: 1;
}

.logo-img{
  margin-left: 30px;
}
.display{
  grid-column:1/2;
  color:white;
  padding-left: 8%;
  padding-bottom: 10%;
  position: relative;
  z-index: 1;
}
.display p{
  font-family: 'Montserrat', sans-serif;
    font-weight: 600px;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
}
.display h1{
  font-family: Adobe Arabic, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff;
}


.nav{
  grid-column: 2/3;
  display: flex;
  justify-content: flex-end;
}

.nav ul{
  padding-top: 15px;
  list-style: none;
  display: flex;
  align-items: center;
}
.nav ul li{
  margin-right: 30px;
}
.nav ul li a{
  text-decoration: none;
  color: #fff;
}
.nav ul li a:hover{
  text-decoration: none;
}
.nav ul li.active{
  border-bottom:2px solid #fff;
}
.btn{
  text-transform: uppercase;
  color: #fff;
  background-color: #c80125;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  display: inline-block;
  
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color:#000;
  opacity: .5;
}




.main{
  grid-column:1/4;
  background-color: black;
  color:white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2%;
}

.room{
 padding-left: 3%;
 padding-top: 30px;
 
}

.room p{
  padding-bottom: 10px;
}

.room1{
  grid-column:1/2 ;
  background-color: rgb(48, 46, 46);
  margin:2%;
  
}
.room2{
  grid-column:2/3 ;
  background-color: rgb(48, 46, 46);
  margin:2%;
}


.room3{
  grid-column:1/2 ;
  background-color: rgb(48, 46, 46);
  margin:2%;
}


.room4{
  grid-column:2/3 ;
  background-color: rgb(48, 46, 46);
  margin:2%;
}

.room5{
  grid-column:1/2 ;
  background-color: rgb(48, 46, 46);
  margin:2%;
}

.room6{
  grid-column:2/3 ;
  background-color: rgb(48, 46, 46);
  margin:2%;
}
.p1{
  margin-left: 30%;
}
.p2{
  text-align: center;
}

.room>button{
  margin-top: 15px;
  margin-left: 40%;
  border: 0;
  border-radius: 4px;
  margin-bottom: 2%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size: 20px;
  
}
.room button span{
  padding-left: 5px;
}

a{
  text-decoration: none;
  color:white
}
button{
  color: white;
  background-color: red;
}

.bottom{
background-color: rgb(48, 46, 46);
grid-column: 1/4;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
padding: 2% 2%  0 2%;
color:white;
}

.btm1{
 grid-column:1/3;
 padding:3%;
}
.btm1 p{
  padding-bottom: 15px;
}
.btm2 p{
  padding-bottom: 15px;
}

.btm2{
  grid-column:3/5;
  padding:3%;
}
.btm3{
  grid-column:5/7;
  padding:3%;
}

.footer{
  grid-column:1/7;
  margin: 1% 0 1% 40%;
}

.btm3>p>img{
  margin-top: 15px;
  width:8%;
  margin-right: 5%;
}
.btm>p>img:not(:last-child){
  margin-right: 5%;
}

span{
  font-size: x-large;
}